.popup__title {
	margin: 0;
	padding-bottom: 42px;
	font-weight: 900;
	line-height: 29px;
	font-size: 24px;
	color: #000;
}

@media (max-width: 535px) {
	.popup__title {
		/*padding-bottom: 55px;*/
		line-height: 22px;
		font-size: 18px;
	}
}